.header {
  // background-color: var(--headerBackgroundColor);
  z-index: 500;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 1;
  pointer-events: none;

  .header-wrapper {
    padding: 2vw;
    position: relative;
    z-index: 2;
    width: 100%;
    pointer-events: auto;

    .header-inner {
      max-width: 1800px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      width: 100%;
      height: inherit;
    }

    .header-title-nav-wrapper {
      display: flex;
      flex-wrap: nowrap;
      flex: 1 0 67%;
      align-items: center;
    }
  }

  // HEADER DESKTOP
  .header-display-desktop {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .header-display-mobile {
    display: none;
  }

  // HEADER MOBILE
  @media screen and (max-width: 767px) and (orientation: portrait) {
    .header-display-desktop {
      display: none;
    }
    .header-display-mobile {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
