.about-container {
  display: flex;
  flex-direction: row;
  padding: var(--general-padding);
  position: relative;
  z-index: 15;
  @media screen and (max-width: 767px) and (orientation: portrait) {
    flex-direction: column;
    padding: var(--general-mini-padding);
  }
  .about-img,
  .about-content {
    width: 50%;
    z-index: 15;
    padding: var(--general-padding);
    @media screen and (max-width: 767px) and (orientation: portrait) {
      width: 100%;
      padding: 0;
    }
  }

  .about-img img {
    max-height: 700px;
    object-fit: cover;
  }

  .about-content {
    padding: var(--general-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    h2 {
      margin: var(--general-smaller-margin) 0;
    }

    .signature img {
      height: auto;
      width: 100px;
    }
  }
}
