.about-container {
  display: flex;
  flex-direction: row;
  padding: var(--general-padding);
  position: relative;
  z-index: 15;
  .about-img,
  .about-content {
    width: 50%;
    z-index: 15;
  }

  .about-content {
    padding: var(--general-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
