.header-nav {
  text-align: right;
  margin-left: auto;
  padding-left: 2.2vw;
  flex-grow: 1;
  flex-shrink: 1;

  .header-nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .header-nav-item {
      text-transform: uppercase;
      margin-left: 1.6vw;
      a {
        transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.74);
        }
      }
    }
  }
}
